<h2> {{title}}</h2>
<p>{{overview}}</p>
<p>{{release_date}}</p>
<p> Starring </p>
<!--{{#if cast}}-->
{{#each cast}}
 <p>{{name}} as {{character}}</p>
 {{/each}}
 <input type="number" name="your_awesome_parameter" id="some_id" class="rating" />
<!--{{/if}}-->
<button class="butts">Add to watchlist</button>
